# CMake artifacts
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

# Binaries
fin_search_test

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Generated Index Files
*.faiss
*.faiss.meta

# Binaries
fin_search
fin_search_test
